// SPDX-License-Identifier: MIT

@import 'base';

.cvat-video-extraction-page {
    padding-top: $grid-unit-size * 5;

    > div > .cvat-title {
        display: block;
        margin-bottom: $grid-unit-size * 3;
    }

    .ant-alert,
    .ant-progress,
    .ant-descriptions {
        margin-top: $grid-unit-size * 2;
    }

    .ant-input-number {
        width: 100%;
    }
}

.cvat-video-extraction-append-form {
    margin-top: $grid-unit-size * 3;
}
