// SPDX-License-Identifier: MIT

@import 'base';

.cvat-package-import-page {
    padding-top: $grid-unit-size * 5;

    > div > .cvat-title {
        display: block;
        margin-bottom: $grid-unit-size * 3;
    }

    .ant-alert,
    .ant-progress {
        margin-bottom: $grid-unit-size * 2;
    }
}
